/* light background theme */
// $color_front:   #000000;
// $color_back:    #ffffff;
// $color_shadow:  $color_front * 0.2 + $color_back * 0.8;
// $color_middle:  $color_front * 0.5 + $color_back * 0.5;

/* dark background theme */
$color_front:   #ffffff;
$color_back:    #ffffff * 0.1;
$color_shadow:  $color_front * 0.7;
$color_middle:  $color_front * 0.7 + $color_back * 0.3;


/* Do not change settings below this line if you're just changing themes */

$color_text:        $color_front * 0.75 + $color_back * 0.25;
$color_img_bgcolor: #808080;

[id^=gallery] {
  a {
    background-color: $color_img_bgcolor;
    background-image: url(../images/spin.gif);
    background-position: center center;
    background-repeat: no-repeat;
    display: block;
    float: left;
  }
}

/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html, button, input, select, textarea {
  color: $color_text;
}

body {
  background-color: $color_back;
  font-family: Helvetica, Helvetica Neue, Arial;
  font-size: 1em;
  line-height: 1.4;
}

::-moz-selection, ::selection {
  background: #b3d4fc;
  text-shadow: none;
}

hr {
  border-top: 1px solid #ccc;
  border: 0;
  display: block;
  height: 1px;
  margin: 1em 0;
  padding: 0;
}

img {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

.chromeframe {
  background: #ccc;
  color: $color_front;
  margin: 0.2em 0;
  padding: 0.2em 0;
}

.wrapper {
  margin: 0 5%;
  width: 90%;
}

/* ===================
    ALL: Gray Theme
   =================== */
header {
  h1 {
    color: $color_front;
  }
}

.main aside {
  background: $color_front;
  border-top: 20px solid $color_middle;
}

.footer-container {
  background-color: transparent;
  border-top: 0;
  color: $color_front;
}

footer a {
  color: $color_middle;
  text-decoration: underline;
  &:visited {
    color: $color_middle;
    text-decoration: underline;
  }
  &:hover {
    text-decoration: none;
  }
}

/* ==============
    MOBILE: Menu
   ============== */
$a_count: 4;
nav {
  ul {
    margin: 1.5em 0;
    padding: 0;
    li {
      display: inline;
    }
  }
  a {
    border-bottom: 1px dotted $color_middle;
    border-top: 1px dotted $color_middle;
    color: $color_middle;
    float: left;
    font-size: 0.8em;
    margin: 0;
    padding: 0.5em 0;
    text-align: center;
    text-decoration: none;
    width: 99%/$a_count;

    &:hover, .mobile_nav_a_hover {
      background-color: $color_back;
      border-bottom: 1px dashed $color_front;
      border-top: 1px dashed $color_front;
      color: $color_front;
      text-decoration: none;
      text-shadow: 1px 1px 2px $color_shadow;
    }

    &.active {
      border-bottom: 1px solid $color_front;
      border-top: 1px solid $color_front;
      color: $color_front;
      cursor: default;
      text-shadow: 1px 1px 2px $color_shadow;
    }
  }
}

/* ==============
    MOBILE: Main
   ============== */

.main {
  padding: 1em 0;
  article {
    h1 {
      color: $color_front;
      font-size: 2em;
    }
    a {
      color: $color_middle;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  aside {
    color: $color_back;
    padding: 0px 5% 10px;
  }
}

.footer-container footer {
  color: $color_front;
  font-family: "Arial Narrow";
  font-size: 0.9em;
  padding: 20px 0;
  text-align: center;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
  padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   by jsliang (jenny@jsliang.com)
   ========================================================================== */

#scroll-top-bar {
  background: $color_front;
  &:hover {
    cursor: pointer;
  }
  .scroll-top-bar-container {
    color: $color_back;
    font-size: 3em;
    padding: 0;
    text-align: center;
    a {
      font-size: 1em;
      text-align: center;
      text-decoration: none;
      &:visited {
        font-size: 1em;
        text-align: center;
        text-decoration: none;
      }
    }
  }
}

/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  $a_horizontal_margin: 2%;
  $a_width: (100% - $a_horizontal_margin * 2 * ($a_count - 1))/$a_count;
  nav {
    ul{
      li {
        display: inline;
        &:first-child a {
          margin-left: 0;
        }
        &:last-child a {
          margin-right: 0;
        }
      }
    }
    a {
      border-top: 1px dotted transparent;
      font-size: 15px;
      letter-spacing: 2px;
      margin: 0 $a_horizontal_margin;
      padding: 0.5em 0;
      width: $a_width;

      &:hover,
      &.active {
        border-top: 1px solid transparent;
      }
    }
  }
  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  .oldie nav a {
    margin: 0 0.7%;
  }
}

@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  .main aside {
    -webkit-box-shadow: 0 5px 10px $color_shadow;
    -moz-box-shadow: 0 5px 10px $color_shadow;
    box-shadow: 0 5px 10px $color_shadow;
  }
  /* ============
      WIDE: Menu
     ============ */
  nav {
  }
  /* ============
      WIDE: Main
     ============ */
  .main {
    article {
      float: left;
      width: 100%;
    }
    aside {
      float: right;
      width: 0%;
    }
  }
}

@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  .wrapper {
    width: 1026px;
    /* 1140px - 10% for margins */
    margin: 0 auto;
  }
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
  *text-indent: -9999px;
  background-color: transparent;
  border: 0;
  overflow: hidden;
  &:before {
    content: "";
    display: block;
    height: 150%;
    width: 0;
  }
}

.hidden {
  display: none !important;
  visibility: hidden;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  &.focusable {
    &:active, &:focus {
      clip: auto;
      height: auto;
      margin: 0;
      overflow: visible;
      position: static;
      width: auto;
    }
  }
}

.invisible {
  visibility: hidden;
}

.clearfix {
  &:before {
    content: " ";
    display: table;
  }
  &:after {
    content: " ";
    display: table;
    clear: both;
  }
  *zoom: 1;
}
